{% load static %}
<div class="form-box">
    <h1>Manager register</h1>
    <form action="{% url 'managerauth:register' %}" method="post" id="register-form">
        {% csrf_token %} 
        <label for="register-name">Name</label>
        <input id="register-name" type="text" name="register-name">

        <label for="register-email">Email</label>
        <input id="register-email" type="email" name="register-email">
      
        <label for="register-password">Password</label>
        <input id="register-password" type="password" name="register-password">

        <label for="register-confirmation">Confirmation</label>
        <input id="register-confirmation" type="password" name="register-confirmation">

        <input class="button-primary" type="submit" value="Register" />  
    </form>
</div>
<script type="text/javascript" src="{% static 'managerauth/register.js' %}"></script>